In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Mataura,NZ,2021-05-16 20:17:53,-46.1927,168.8643,46.99,70,92,5.99
1,1,Bluff,NZ,2021-05-16 20:17:53,-46.6000,168.3333,46.99,70,87,5.99
2,2,Norman Wells,CA,2021-05-16 20:17:53,65.2820,-126.8329,46.40,53,75,14.97
3,3,Rawson,AR,2021-05-16 20:17:53,-43.3002,-65.1023,54.77,62,25,13.51
4,4,Port Alfred,ZA,2021-05-16 20:17:54,-33.5906,26.8910,59.65,68,30,18.72

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# Heatmap of temperature
locations = city_data_df[["Lat", "Lng"]]
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [22]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Veraval,IN,2021-05-16 21:01:00,20.9000,70.3667,88.47,56,100,21.92
7,7,Vaini,TO,2021-05-16 21:01:02,-21.2000,-175.2000,78.80,89,40,6.91
9,9,Mahebourg,MU,2021-05-16 21:01:02,-20.4081,57.7000,77.00,73,75,11.50
11,11,Rikitea,PF,2021-05-16 21:01:03,-23.1203,-134.9692,75.02,60,100,11.18
15,15,Hilo,US,2021-05-16 21:01:04,19.7297,-155.0900,84.20,51,90,9.22
16,16,Dambulla,LK,2021-05-16 21:01:02,7.8600,80.6517,75.06,84,72,4.14
18,18,Santa Marta,CO,2021-05-16 20:58:46,11.2408,-74.1990,83.77,75,99,16.15
19,19,San Patricio,US,2021-05-16 21:01:04,28.0170,-97.5169,82.40,78,75,8.05
22,22,Avarua,CK,2021-05-16 21:01:05,-21.2078,-159.7750,80.60,69,20,9.22
28,28,Wanlaweyn,SO,2021-05-16 21:01:07,2.6185,44.8938,78.44,84,23,11.88

In [24]:
#check for null values
preferred_cities_df.count()

City_ID       181
City          181
Country       181
Date          181
Lat           181
Lng           181
Max Temp      181
Humidity      181
Cloudiness    181
Wind Speed    181
dtype: int64

In [25]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
0        Veraval      IN     88.47  20.9000   70.3667
7          Vaini      TO     78.80 -21.2000 -175.2000
9      Mahebourg      MU     77.00 -20.4081   57.7000
11       Rikitea      PF     75.02 -23.1203 -134.9692
15          Hilo      US     84.20  19.7297 -155.0900
16      Dambulla      LK     75.06   7.8600   80.6517
18   Santa Marta      CO     83.77  11.2408  -74.1990
19  San Patricio      US     82.40  28.0170  -97.5169
22        Avarua      CK     80.60 -21.2078 -159.7750
28     Wanlaweyn      SO     78.44   2.6185   44.8938

In [26]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [32]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
try:
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
except (IndexError):
    print("Hotel not found... skipping.")

In [33]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Veraval,IN,88.47,20.9000,70.3667,Lords Inn Somnath
7,Vaini,TO,78.80,-21.2000,-175.2000,Keleti Beach Resort
9,Mahebourg,MU,77.00,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
11,Rikitea,PF,75.02,-23.1203,-134.9692,Pension Maro'i
15,Hilo,US,84.20,19.7297,-155.0900,Hilo Hawaiian Hotel
16,Dambulla,LK,75.06,7.8600,80.6517,Tinaya Treats
18,Santa Marta,CO,83.77,11.2408,-74.1990,Casa de Isabella
19,San Patricio,US,82.40,28.0170,-97.5169,"Motel 6 Sinton, TX"
22,Avarua,CK,80.60,-21.2078,-159.7750,Paradise Inn
28,Wanlaweyn,SO,78.44,2.6185,44.8938,GAASHAAN HOME

In [34]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [35]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [37]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [38]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [39]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))