## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Koungou,YT,80.31,scattered clouds,-12.7336,45.2042,Villa Netibor
1,3,Alice Springs,AU,74.21,clear sky,-23.7000,133.8833,Desert Palms Alice Springs
2,5,Tautira,PF,84.22,light rain,-17.7333,-149.1500,Pension Oaoa
3,6,Bengkulu,ID,79.50,overcast clouds,-3.8004,102.2655,Grage Hotel Bengkulu
4,7,Matara,LK,81.05,overcast clouds,5.9485,80.5353,Amaloh Boutique Resort

In [5]:
#Check for missing data
vacation_df.count()

City_ID                296
City                   296
Country                296
Max Temp               296
Current Description    296
Lat                    296
Lng                    296
Hotel Name             276
dtype: int64

In [6]:
#Drop locations with missing data
vacation_df = vacation_df.dropna()

In [7]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City Name</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [8]:
# 4a. Add a marker layer for each city to the map.
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City"] == "Coralville")]
vacation_end = vacation_df.loc[(vacation_df["City"] == "Coralville")]
vacation_stop1 = vacation_df.loc[(vacation_df["City"] == "Greenfield")]
vacation_stop2 = vacation_df.loc[(vacation_df["City"] == "Ingham")]
vacation_stop3 = vacation_df.loc[(vacation_df["City"] == "Bud")]

In [10]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.

start = vacation_start["Lat"].to_numpy()[0], \
        vacation_start["Lng"].to_numpy()[0]

end = vacation_end["Lat"].to_numpy()[0], \
      vacation_end["Lng"].to_numpy()[0]

stop1 = vacation_stop1["Lat"].to_numpy()[0], \
                vacation_stop1["Lng"].to_numpy()[0]

stop2 = vacation_stop2["Lat"].to_numpy()[0], \
                vacation_stop2["Lng"].to_numpy()[0]

stop3 = vacation_stop3["Lat"].to_numpy()[0], \
                vacation_stop3["Lng"].to_numpy()[0]

print(f'Start: {start}, Stop 1: {stop1}, Stop 2: {stop2}, Stop 2: {stop2}, End: {end}')

Start: (41.6764, -91.5805), Stop 1: (42.9614, -88.0126), Stop 2: (42.6, -84.3833), Stop 2: (42.6, -84.3833), End: (41.6764, -91.5805)

In [11]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure()
vacation_itinerary = gmaps.directions_layer(start, end, waypoints=[stop1, stop2, stop3], travel_mode='DRIVING')
fig.add_layer(vacation_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_end, vacation_stop1, vacation_stop2, vacation_stop3], ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,586,Coralville,US,72.43,moderate rain,41.6764,-91.5805,Heartland Inn
1,586,Coralville,US,72.43,moderate rain,41.6764,-91.5805,Heartland Inn
2,98,Greenfield,US,70.16,overcast clouds,42.9614,-88.0126,Brewtown Eatery Bar & Grill
3,52,Ingham,US,72.63,clear sky,42.6000,-84.3833,Sunset Place
4,119,Bud,US,71.65,overcast clouds,39.4470,-86.1758,Ted McQuinn Trust

In [13]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City Name</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [14]:
# 11a. Add a marker layer for each city to the map.
max_temp = itinerary_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure

fig

Figure(layout=FigureLayout(height='420px'))